.contianer{
    letter-spacing: -0.05em;
    position: relative;
}

.column-right .sc-state a{
    display: block;
    background: url(../images/banner-corona.jpg) no-repeat;
    color: #fff;
    height: 98px;
    position: relative;
}
.column-right .sc-state .date{
    padding-top: 0;
    top: 12px;
    font-size: 12px;
    font-weight: 700;
    margin-left: 25px;
    color: #000;
    left: initial;
    right: 20px;
    letter-spacing: -0.05em;
    height: 16px;
    line-height: 16px;
    position: absolute;
}
.column-right .sc-state .data-bottom{
    display: flex;
    text-align: center;
    font-weight: 700;
    letter-spacing: -0.075em;
    /* position: absolute; */
    padding-top: 35px;
    justify-content: center;
    gap: 40px;
}
.column-right .data-bottom span{
    font-size: 13px;
}
.column-right .data-bottom em{
    display: block;
    font-size: 17px;
    margin-top: 5px;
}
.column-right .sc-banner{
    margin-top: 7px;
}
.sc-service{padding: 50px 0 0;}
.sc-service .head{
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dbdbdb;
    justify-content: space-between;
    
}
.container .title{
    font-size: 24px;
    font-weight: 700;
}
.sc-service .link-more{
    position: absolute;
    top: 50px;right: 0;
    width: 112px;
    height: 29px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    padding-left: 13px;
    line-height: 28px;
    background: url(../images/arrow2.png) no-repeat right 13px top 50%;
}

.sc-service{
    position: relative;
}
.sc-service .title{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
}
.sc-service .service-list{
    display: flex;
    justify-content: space-between;
}
.sc-service .service-list .service-item{
    width: auto;
    height: 90px;
    text-align: center;
    font-size: 15px;
}
.sc-service .service-list .service-item a::before{
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 10px;
    background: url(../images/icon-set2.png) no-repeat;
}
.sc-service .service-list .service-item .reserve::before{
    background-position: -360px 0;
}
.sc-service .service-list .service-item .answer::before{
    background-position: 0 0;
}
.sc-service .service-list .service-item .job::before{
    background-position: -120px 0;
}
.sc-service .service-list .service-item .info::before{background-position: -300px 0;}
.sc-service .service-list .service-item .edu::before{background-position: -180px 0;}
.sc-service .service-list .service-item .wel::before{background-position: -960px 0;}
.sc-service .service-list .service-item .house::before{background-position: -780px 0;}
.sc-service .service-list .service-item .young::before{background-position: -1140px 0;}
.sc-service .service-list .service-item .hand::before{background-position: -1020px 0;}
.sc-service .service-list .service-item .demo::before{background-position: -60px 0;}
.sc-service .service-list .service-item .city::before{background-position: -600px 0;}

.sc-covid{
    margin-top: 35px;
    background: #eff4f8;
}
.sc-covid .banner-list{
    display: flex;
}
.sc-covid .banner-list .banner-item{
    padding: 20px 0;
}


.sc-covid .banner-list *+*::before{
    content: '';
    width: 1px;
    height: 60px;
    background: #dbdbdb;
    display: inline-block;
    position: absolute;
}


.inner4{
    padding: 50px 0 50px;
    border-bottom: 2px solid #222222;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 360px);
   

}
.inner4 .sc-board{
    position: relative;
    width: 360px;
}
.inner4 .sc-board .title{
    margin-bottom: 10px;   
    border-bottom: 2px solid #dbdbdb;
}
.inner4 .title{
    padding-bottom: 10px;
   
}
.inner4 .link-more{
    position: absolute;
    top: 0;
    right: 0;
    width: 22px;
    height: 20px;
    border: 1px solid #ddd;
    background: url(../images/icon-set.png) no-repeat -1px -1px;
}
.inner4 .bd-list .bd-item{
    display: flex;
    padding: 6px 0 6px 0;   
}
.inner4 .bd-item .desc{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: justify;
    width: 330px;
    font-size: 15px;
    
}

.board .bd-item .sm-title.og{
    color: #d76000;
}
.board .bd-item .sm-title.green{
    color: #069363;
}
.board .bd-item .sm-title.blue{
    color: #028ab6;}

.board .sc-festiv .bd-item .sm-title{
    color: #9b64d3;
}
.board .sc-festiv .bd-item .sm-title.gr{
    color: #599100;
}

.sc-often .often-list{
    font-size: 15px;
    margin-right: 9px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    padding: 17px 5px 7px 20px;
    background: #eff4f8;
}
.sc-often .often-list li{
    padding: 0 0 10px 10px;
    position: relative;
}
.sc-often .often-list li a::before{
    content: '';
    background: #666666;
    position: absolute;
    left: 0;
    top: 50%;
    width: 2px;
    height: 2px;
    margin-top: -6px;
}


.sc-info{
    padding-top: 40px;
}
.sc-info .info-list{
    display: flex;
    padding: 20px 27px 0 27px;
    text-align: center;
    justify-content: space-between;
    height: 165px;
}

.sc-info .info-item a{
    display: block;
    width: 85px;
    font-size: 16px;
}
.sc-info .info-item a::before{
    content: '';
    display: block;
    width: 85px;
    height: 85px;
    margin-bottom: 17px;
    
}
.sc-info .info-item .house::before{
    background: url(../images/ic-building.png) no-repeat;
}
.sc-info .info-item .economy::before{
    background: url(../images/ic-money.png) no-repeat;
}
.sc-info .info-item .traffic::before{
     background: url(../images/ic-car.png) no-repeat;
}
.sc-info .info-item .eco::before{
     background: url(../images/ic-water.png) no-repeat;
}
.sc-info .info-item .wel::before{
     background: url(../images/ic-heart.png) no-repeat;
}
.sc-info .info-item .safe::before{
     background: url(../images/ic-safe.png) no-repeat;
}
.sc-info .info-item .culture::before{
     background: url(../images/ic-draw.png) no-repeat;
}
.sc-info .info-item .admin::before{
     background: url(../images/ic-note.png) no-repeat;
}

.sc-news{
    padding: 20px 0 30px;
    position: relative;
}
.sc-news .title{
    padding: 0 0 20px 0;

}
.sc-news .news-link{
    top: 26px;
    right: 0;
    position: absolute;
    font-size: 15px;
    color: #7d7d7d;
    width: 75px;
    background: url(../images/icon-set.png) no-repeat 0 -259px;
}
.sc-news .news-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sc-news .news-item{
    position: relative;
}

.sc-news .news-item .badge{
    position: absolute;
    top: 156px;
    width: 82px;
    height: 32px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    z-index: 1;
    font-weight: 700;
}
.sc-news .news-item .welfare{
    background-color: #d76000;

}
.sc-news .news-item .admin{background-color: #028ab6;}
.sc-news .news-item .culture{background-color:#9b64d3;}
.sc-news .news-item .environ{background-color: #599100;}

.sc-news .news-item a{
    display: block;
    width: 273px;
}
.sc-news .news-item .img-box{
    margin-bottom: 15px;
    overflow: hidden;
}
.sc-news .news-item .img-box img{
    min-width: 273px;
    width: 273px;
    height: 188px;
    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}
.sc-news .news-item .img-box img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.sc-news .news-item .desc{
    font-size: 16px;
    width: 273px;
    height: 3em;
    line-height: 1.5em;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: normal;
    color: #222;
    word-break: keep-all;
}

.inner5{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.inner5 .title{
    padding-bottom: 11px;
}

.sc-video .link-video{
    display: block;
    position: relative;
    overflow: hidden;
}
.sc-video .link-video img{
    cursor: pointer;
    width: 100%;
    height: 100%;
    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
    vertical-align: top;
}
.sc-video .link-video img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.sc-video .link-video .desc{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;background-color: rgba(0,0,0,.5);
    padding: 11px 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
}

.sc-seoulnews .news-item{
    padding: 8px 0;
    font-size: 16px;
}
.sc-seoulnews .news-item a{
    display: flex;
    gap: 18px;
}

.sc-seoulnews .news-item .badge{

    font-weight: 400;
    color: #09ac43;
}
.sc-seoulnews .news-item .desc{
    color:#555;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 405px;
}

.sc-sns{
    position: relative;
    padding: 10px 15px;
    width: 350px;
    height: 195px;
    background: url(../images/sns-bg.jpg) no-repeat 0 0;
}

.sc-sns .title{
    padding-top: 5px;
    color: #222;
    font-size: 22px;
    font-weight: 600;

}
.sc-sns .title::after{
    position: absolute;
    top: 15px;
    left: 130px;;
    content: '';
    display: inline-block;
    width: 34px;
    height: 24px;
    background: url(../images/seoul-sns.png) no-repeat -247px 0;
    border-left: 1px solid #878787;
    padding-right: 6px;
    
}
.sc-sns .sns-list{
    top: 90px;
    left: 40px;
    position: absolute;
    display: flex;
    gap: 6px;
}
.sc-sns .sns-item a{
    background: url(../images/seoul-sns.png)no-repeat;
    width: 40px;
    height: 40px;
    display: block;
}
.sc-sns .sns-item .insta{
    background-position: 0px 0;
}
.sc-sns .sns-item .face{
    background-position: -40px 0;
}
.sc-sns .sns-item .twitter{background-position: -80px 0;}
.sc-sns .sns-item .blog{background-position: -120px 0;}
.sc-sns .sns-item .youtube{background-position: -160px 0;}
.sc-sns .sns-item .kakao{background-position: -200px 0;}



/*  */


.footer{
    
}

.footer .group-nav .inner-list{
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: #636363;
}

.group-nav .inner-item:not(:first-child){
    padding-left: 10px;
}
.group-nav .inner-item:not(:first-child) .inner-link::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 1px;
    height: 14px;
    margin-top: -6px;
    background: #dcdcdc;
}
.group-nav .inner-item .inner-link.bold{
    color: #000;
    font-weight: 700;
}
.inner6{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.group-sns{
    display: flex;
    gap: 12px;
}
.group-sns a{
    background: url(../images/ic-sns.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
}
.group-sns .face{
    background-position: -25px 0;
}
.group-sns .face:hover{
    background-position: -25px -25px;
}
.group-sns .twitter{
    background-position: -50px 0;
}
.group-sns .twitter:hover{
    background-position: -50px -25px;
}
.group-sns .insta{
    background-position: -75px 0;
}
.group-sns .insta:hover{
    background-position: -75px -25px;
}
.group-sns .kakao{
    background-position: -100px 0;
}
.group-sns .kakao:hover{
    background-position: -100px -25px;
}
.group-sns .youtube{
    background-position: -125px 0;
}
.group-sns .youtube:hover{
    background-position: -125px -25px;
}
.group-sns .blog{
    background-position: -150px 0;
}
.group-sns .blog:hover{
    background-position: -150px -25px;
}


.group-inquiry .inq-link{
    display: block;
    width: 108px;
    height: 45px;
    background: url(../images/icon-set.png) no-repeat -180px 0;
}

.inner7{
    display: flex;
    padding: 22px 0;
    border-top: 1px solid #ccc;
    gap: 40px;
}
.inner7 .group-addr{
    color:#636363;
    font-size: 12px;
    line-height: 1.35em;
}

.inner7 .group-addr .copy{font-size: 11px;}

.inner7 .group-mark{
    display: flex;
    gap: 10px;
    margin-left: auto;
}




/* sc-banner2 */

.sc-banner2{
    padding: 50px 0 50px 0;
    border-top: 2px solid #222;
    box-sizing: border-box;
}
.sc-banner2 .btn-wrap{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.sc-banner2 .btn-wrap .fraction{
    width: initial;
    font-size: 14px;
    margin-right: 5px;
}
.sc-banner2 .btn-wrap .prev{
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    background: url(../images/icon-set.png) no-repeat -45px -43px;;
}
.sc-banner2 .btn-wrap .next{
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    background: url(../images/icon-set.png) no-repeat -86px -43px;
}
.sc-banner2 .btn-wrap .autoplay{
    width: 20px;
    height: 20px;
    border: 1px solid #999;
    border-left: 0;
    background: url(../images/icon-set.png) no-repeat -65px -43px;
}

.sc-related{
    position: relative;
    margin-bottom: 20px;
}
.sc-related .related-list{
    display: flex;
    border: 1px solid #d0d0d0;
    background: #f7f7f7;
}
.sc-related .related-item{
    flex: 1;
}
.sc-related .related-item+.related-item{
    border-left: 1px solid #d0d0d0;
}
.sc-related .btn-related{
    height: 50px;
    text-align: center;
    width: 100%;
}

.sc-related .btn-related .txt-related{
    font-size: 14px;
}
.sc-related .btn-related .txt-related:not(.not){
    padding-right: 20px;
    position: relative;
}

.sc-related .btn-related .txt-related:not(.not)::after{
    content: '';
    position: absolute;
    top: 8px;
    right: 0px;
    height: 7px;
    width: 7px;
    border-style: solid;
    border-color: #373737;
    border-width: 0px 2px 2px 0px;
    transform: rotate(-135deg);
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: center center;
}
.sc-related .btn-related.active{
    background: #ccc;
}
.sc-related .btn-related.active .txt-related::after{
    transform: rotate(45deg);
    top: 4px;
}

.sc-related .sub-area{
    position: absolute;
    background: #fff;
    border: 1px solid #d0d0d0;
    width: 100%;
    left: 0;
    bottom: 100%;
    z-index: 2;
    padding:10px 20px 20px;
    display: none;
}
.sc-related .sub-list{
    display: flex;
    flex-wrap: wrap;
}
.sc-related .sub-list li{
    width: 25%;
    font-size: 14px;
    margin-top: 10px;
    color: #555;
}

.inner3{
    display: flex;
    justify-content: space-between;
}
.inner3 .column-right{
    width: 360px;
    
}

.sc-slide{
    position: relative;
    width: 770px;
    height: 350px;
    background: #ccc;
}
.sc-slide .group-slide{
    position: absolute;
    right: 0;
    top: 0;
    width: 690px;
}
.sc-slide .group-slide h3{
    position: absolute;
    width: 80px;
    padding-top: 50px;
    text-align: center;
    font-weight: 600;
    color: #333;
    height: 50%;
    background: #d2e1e9;
    z-index: 2;
    left: -80px;
    font-size: 14px;
}
.sc-slide .slide2 .slide-news::before{
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    content: '';
    display: block;
    border-radius: 50%;
    background: #fff url(../images/slide-icon.png) no-repeat -50px 0;
}

.sc-slide .slide1 .slide-news::before{
    width: 50px;
    height: 50px;
    margin: 0 auto 10px;
    content: '';
    z-index: 1;
    display: block;
    border-radius: 50%;
    background: #fff url(../images/slide-icon.png) no-repeat 0 0;
}

.sc-slide .group-slide .desc{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    color: #fff;
    font-size: 14px;
    width: 100%;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 170px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sc-slide .btn-wrap{
    color: #fff;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    right: 3px;
    width: 100%;
}

.sc-slide .btn-wrap .prev{
    width: 18px;
    height: 18px;
    background: url(../images/icon.png) no-repeat -237px -284px;
    background-size: 300px;
    margin-right: 4px;
    display: block;
}
.sc-slide .btn-wrap .next{
    width: 18px;
    height: 18px;
    background: url(../images/icon.png) no-repeat -255px -284px;
    background-size: 300px;
}
.sc-slide .btn-wrap .fraction{
    width: initial;
}
.sc-slide .btn-wrap .autoplay{
    display: block;
    background: url(../images/icon.png) no-repeat -283px -284px;;
    background-size: 300px;
    width: 18px;
    height: 18px;
}

/* 개인 */

.sc-slide .group-slide.slide1 h3{
    top: 0;
}
.sc-slide .group-slide.slide2 h3{
    top: 50%;
}

/* 작동 */
.sc-slide .group-slide.active{
    z-index: 10;
}
.sc-slide .group-slide.active h3{background: #0158a8; color: #fff;}
.sc-slide .group-slide.active h3::after{
    content: " ";
    position: absolute;
    z-index: 10;
    left: 99%;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 32px;
    border-color: transparent transparent transparent #0158a8;
    margin-top: -25px;
}

.btn-top {
    position: fixed;
    bottom: -100px;
    left: 50%;
    display: block;
    width: 34px;
    height: 34px;
    margin-left: 600px;
    opacity: 0;
    transition: opacity 1s,bottom 1s;
    z-index: 1000000;
    background: url(../images/btn-top.png);
}

.btn-top.active{
    bottom: 83px;
    opacity: 1;
}